Q1. How do you comment code in Python? What are the different types of comments?

There are two types of comments in python we can use:

Single-line comment:

#is use for single-line comment

Multi-line comment:

"""This is the example 
   of multiline comment"""
   
   OR
''' This is the other way 
    of using multiline comment'''

Q2. What are variables in Python? How do you declare and assign values to variables?

Variables name given to the address of the memory location where data is stored.

-A variable name must start with a letter or an underscore.

name = "Biswajit"
age = 24
is_student = True

Q3. How do you convert one data type to another in Python?

converting one data type to another in python is call casting

casting
int(): Converts a value to an integer data type. For example, int(3.14) converts the float value 3.14 to an integer 3.

str():Converts a value to a string data type. For example, str(100) converts the integer value 100 to a string "100".

float():  Converts a value to a floating-point data type. For example, float(5) converts the integer value 5 to a float 5.0.

suppose      
s = 3
float(s)
output= 3.0

Q4. How do you write and execute a Python script from the command line?

step-1: open Integrated Development Environment (IDE) to write your Python script. For example, you can use a text editor like Notepad, Sublime Text, Visual Studio.

step-2: Write your Python code in the text editor and save the file with a .py extension
 step-3: Run(ctrl + enter)

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [5]:
my_list = [1, 2, 3, 4, 5]
my_list[1:3]

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

a complex number is a number of the form "a + bi," where "a" and "b" are real numbers and "i" is the imaginary.

In Python, complex numbers are represented as "a + bj" or "complex(a, b)" using the "j" where j is the imaginary part.

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [ ]:
age = 25

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

In [ ]:
price = 9.99 #price store float data type

Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

In [6]:
name = "Biswajit  Nath"
name

'Biswajit  Nath'

Q10. Given the string "Hello, World!", extract the substring "World".

In [8]:
a = "Hello, World!"
a[7:12]

'World'

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

In [ ]:
is_student = True